.user__data {
  width: 320px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  &-item {
    display: flex;
    justify-content: space-between;
    &-name {
      color: rgba(31, 41, 68, 1);
      font-size: 16px;
      font-weight: 500;
    }
    &-info {
      font-size: 16px;
      font-weight: 500;
      color: rgba(0, 175, 102, 1);      
    }
  
  }
  &-confirm {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(35, 165, 141, 1);
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
  }
  &-properties {
    display: flex;
    gap: 3px;
    margin: 20px 0;
    & li {
    background-color:rgba(255, 220, 220, 1);
    }
  }
  &-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    coolor: rgba(31, 41, 68, 1);
  }
  &-interests {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 18px;
    & li {
      background-color: rgba(55, 128, 255, 0.1);
    }
  }



}